    <div class="event-photo-and-details">
      <div class="event-photo" style="background-image: url('<%= event.photo %>')"></div>
      <div class="basic-details">
        <div class="name-address">
          <p style="font-weight: bold"><%= event.name %></p>
          <p><%= event.address %></p>
        </div>
        <p class="info-toggle" data-action="click->toggle#toggleInfo" data-edit-event-target="sign">+</p>
      </div>
      <div class="coordinates d-none">
        <p data-maps-target="latitude"><%= event.latitude%></p>
        <p data-maps-target="longitude"><%= event.longitude %></p>
      </div>
    </div>
    <div class="more-info d-none" data-toggle-target="info" data-edit-event-target="info">
      <div class="more-event-details">
        <p style="margin-right: 30px; margin-bottom: 10px;"><%= event.description %></p>
        <p><strong><a href="<%= event.website %>" target="_blank">Website</a></strong> | <strong>Phone:</strong> <%= event.phone %> </p>
        <br>
        <p><%= event.note if event.note %></p>
      </div>
      <div class="modify-event" style="text-align: right">
        <i class="fa-solid fa-pencil" data-action="click->edit-event#displayForm"></i>
        |
        <%= link_to event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
    </div>
    <%= simple_form_for [event.trip, event], data: {edit_event_target: "form", action: "submit->edit-event#update"}, html: {class: 'd-none'} do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description, as: :text %>
      <%= f.input :website %>
      <%= f.input :phone %>
      <%= f.input :note, as: :text %>
      <%= f.button :submit, class: "btn" %>
    <% end %>
  </div>
