<% @events.each do |event| %>

  <div class="event">
    <p><strong><%= event.name %></strong></p>
    <p><%= event.address %></p>
    <div class="coordinates d-none">
      <p data-maps-target="latitude"><%= event.latitude%></p>
      <p data-maps-target="longitude"><%= event.longitude %></p>
    </div>
    <p>Start: <%= event.start_time.strftime("%I.%M%P") %> | End: <%= event.end_time.strftime("%I.%M%P") %></p>
  </div>

<% end %>
