
<li class="event handle"
  data-index="<%= index %>"
  data-latitude=<%= event.latitude%>
  data-longitude=<%= event.longitude %>
  data-sortable-update-url="<%= update_position_path(event.trip_id, event) %>"
  >

  <div class="event-details" data-maps-target="event" data-directions-target="event" data-action="click->maps#singleEvent" data-index=<%= index %>>
    <div class="position" style="text-align: right" data-sortable-target="position"><h3><%= index + 1 %></h3></div>
    <p style="font-weight: bold"><%= event.name %></p>
    <p><%= event.address %></p>
    <div class="coordinates d-none">
      <p data-maps-target="latitude"><%= event.latitude%></p>
      <p data-maps-target="longitude"><%= event.longitude %></p>
    </div>
    <p>Start: <%= event.start_time.strftime("%I.%M%P") %> | End: <%= event.end_time.strftime("%I.%M%P") %></p>
    <div class="modify-event" style="text-align: right">
      <%= link_to edit_trip_event_path(event.trip_id, event) do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %> |
      <%= link_to event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
  </div>

  <div class="event-directions" data-directions-target="directions">
    <div data-directions-target="arrow" style="margin-left: 30px; margin-right: 10px"></div>
    <div data-directions-target="driving"></div>
    <div data-directions-target="walking"></div>
    <div data-directions-target="transit"></div>
  </div>
</li>
