<div class="events" data-controller="directions" data-toggle-target="events" data-action="order-updated@window->directions#showDirections order-updated@window->maps#updateMarkers">
  <div class="icons">
    <p class="icon" data-action="click->directions#showDirections"><i class="fa-solid fa-van-shuttle"></i></p>
    <%= link_to trip_overview_path(@trip) do %>
      <p class="icon"><i class="fa-solid fa-calendar-days"></i></p>
    <% end %>
    <p class="icon" data-bs-toggle="modal" data-bs-target="#staticBackdropFlight"><i class="fa-solid fa-plane-departure"></i>
      <%= render "flights/modal", trip: @trip, flight: @flight %>
    </p>
    <p class="icon" data-bs-toggle="modal" data-bs-target="#staticBackdropHotel"><i class="fa-solid fa-hotel"></i>
      <%= render "hotels/modal", trip: @trip, flight: @hotel %>
    </p>
  </div>
  <ul
    data-controller="sortable"
    data-sortable-resource-name-value="event"
    data-sortable-handle-value=".handle"
    data-action="order-updated@window->sortable#updatePositions"
    data-date="<%= events[0].start_time %>">

    <% if flights %>
      <% flights.each do |flight| %>
        <% if flight.start_time.day == events[0].start_time.day %>
          <%= render "trips/flight", flight: flight %>
        <% end %>
      <% end %>
    <% end %>

    <% if events %>
      <% events.each_with_index do |event, index| %>
        <%= render "event", event: event, index: index, trip: trip %>
      <% end %>
    <% end %>

  </ul>
</div>
