
<li class="event handle"
  data-index="<%= index %>"
  data-latitude="<%= event.latitude%>"
  data-longitude="<%= event.longitude %>"
  data-position="<%= event.position %>"
  data-place-id= "<%= event.source_id %>"
  data-sortable-update-url="<%= update_position_path(event.trip_id, event) %>"
  data-sortable-move-url="<%= move_lists_path(event.trip_id, event) %>"
>

  <div class="event-details" data-controller="edit-event" data-maps-target="event" data-directions-target="event" data-toggle-target="event" data-index=<%= index %>>
    <div class="position" style="text-align: right" data-sortable-target="position"><h3><%= index + 1 %></h3></div>
    <div class="event-inner-card" data-edit-event-target="card">
      <%= render "trips/event_details", event: event, trip: trip %>
    </div>

  <div class="event-directions" data-directions-target="directions">
    <div class="arrow" data-directions-target="arrow"></div>
    <div data-directions-target="driving" class="direction"></div>
    <div data-directions-target="transit" class="direction"></div>
    <div data-directions-target="walking" class="direction"></div>
  </div>
</li>
