  <div class="all-events">
    <% events_by_day.values.each_with_index do |events, index| %>
      <div class="events" data-controller="directions" data-toggle-target="events" data-action="order-updated@window->directions#showDirections">
        <div class="date">
          <h3>
          <strong>Day <%= index + 1 %></strong> |
          <small><%= all_dates[index].strftime("%e %b") %></small>
          </h3>
        </div>
        <div class="icons">
          <p class="icon" data-action="click->directions#showDirections"><i class="fa-solid fa-van-shuttle"></i></p>
        </div>
        <ul
          data-controller="sortable toggle"
          data-sortable-resource-name-value="event"
          data-date="<%= all_dates[index] %>"
          data-sortable-handle-value=".handle"
          data-highest-position="<%= highest_position %>"
          data-action="order-updated@window->sortable#updatePositions">

          <% if flights %>
            <% flights.each do |flight| %>
              <% if flight.start_time.to_date == all_dates[index] and flight.start_time.to_date == trip.start_date.to_date %>
                <%= render "trips/flight", flight: flight %>
              <% end %>
            <% end %>
          <% end %>

          <% if hotels %>
            <% hotels.each do |hotel| %>
              <% booking_dates = (hotel.start_time.to_date..hotel.end_time.to_date).to_a %>
              <% booking_dates.each do |booking| %>
                <% if all_dates[index] == booking %>
                  <li
                      data-latitude=<%= hotel.latitude%>
                      data-longitude=<%= hotel.longitude %>
                    >
                  <% if hotel.start_time.to_date == booking %>
                    <div class="hotel-card" data-directions-target="event">
                      <p><i class="fa-solid fa-bed"></i> Today you're checking into <strong><%= hotel.name %></strong> (check in from <%= hotel.start_time.strftime("%l%P") %>) </p>
                      <p><%= hotel.address %></p>
                    </div>
                  <% elsif hotel.end_time.to_date == booking %>
                    <div class="hotel-card" data-directions-target="event">
                      <p><i class="fa-solid fa-bed"></i> This morning you're checking out of <strong><%= hotel.name %></strong> (check out by <%= hotel.end_time.strftime("%l%P") %>) </p>
                      <p><%= hotel.address %></p>
                    </div>
                  <% else %>
                    <div class="hotel-card" data-directions-target="event">
                      <p><i class="fa-solid fa-bed"></i> This morning you're setting off from <strong><%= hotel.name %></strong></p>
                      <p><%= hotel.address %></p>
                    </div>
                  <% end %>
                  <div class="event-directions" data-directions-target="directions">
                    <div class="arrow" data-directions-target="arrow"></div>
                    <div data-directions-target="driving" class="direction"></div>
                    <div data-directions-target="transit" class="direction"></div>
                    <div data-directions-target="walking" class="direction"></div>
                  </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% events.each_with_index do |event, index| %>
            <%= render "trips/event", event: event, index: index, trip: trip %>
          <% end %>

          <% if flights %>
            <% flights.each do |flight| %>
              <% if flight.start_time.to_date == all_dates[index] and flight.start_time.to_date == trip.end_date.to_date %>
                <%= render "trips/flight", flight: flight %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
