<div class="container-fluid">
  <div class="trips-box">
    <h1 style="font-weight: bold">Your Trips</h1>
  </div>
  <div class="trips-box">
    <% @trips.each do |trip| %>
      <div class="card-trip">
        <div class="card-cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random/?<%= trip.destination %>')">
          <h1><%= trip.destination %></h1>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2><%= pluralize((trip.start_date.to_datetime..trip.end_date.to_datetime).to_a.length, "days") %> from <%= trip.start_date.strftime("%d %B %Y") %> to <%= trip.end_date.strftime("%d %B %Y") %></h2>
            <%= link_to "Go to trip", trip_path(trip.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
