<div class="container-fluid mt-3">
  <div class="intro">
    <h2>Your <%= pluralize(@events_by_day.length, "days") %> in <strong><%= @trip.destination %></strong></h2>
    <%= link_to "See day-by-day view", trip_path(@trip) %>
  </div>
  <div class="all-events">
    <% @events_by_day.each_with_index do |events, index| %>
      <div class="events" data-controller="directions" data-toggle-target="events" data-action="order-updated@window->directions#showDirections">
        <div class="date">
          <h3>
          <strong>Day <%= index + 1 %></strong> |
          <small><%= events.first.start_time.strftime("%e %b") %></small>
          </h3>
        </div>
        <div class="icons">
          <p class="icon" data-action="click->directions#showDirections"><i class="fa-solid fa-van-shuttle"></i></p>
        </div>
        <ul
          data-controller="sortable"
          data-sortable-resource-name-value="event"
          data-date="<%= events[0].start_time %>"
          data-sortable-handle-value=".handle"
          data-highest-position="<%= @highest_position %>"
          data-action="order-updated@window->sortable#updatePositions">
        <% events.each_with_index do |event, index| %>
          <%= render "event", event: event, index: index %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
