<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="intro" style="height:64px;">
  <h2>Your <%= pluralize(@events_by_day.length, "days") %> in <strong><%= @trip.destination %></strong></h2>
  <div class="intro" style="height:68px;">
    <%= link_to "See day-by-day view", trip_path(@trip) %>
    <%= link_to trip_overview_path(@trip, format: :pdf) do %>
      <i class="fa-solid fa-file-pdf"></i>
    <% end %>
    <%= form_with url: send_email_path(@trip), data: { controller: "send-email", send_email_target: "form", action: "submit->send-email#send"} do |f| %>
      <%= f.button style:"color:var(--green); border:none; background:none;" do %>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid mt-3">
  <%= render "overview_events", trip: @trip, events_by_day: @events_by_day, all_dates: @all_dates, highest_position: @highest_position, flights: @flights, hotels: @hotels %>
</div>
