<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="intro">
  <h2>Your <%= pluralize(@events_by_day.length, "days") %> in <strong><%= @trip.destination %></strong></h2>
  <div>
    <%= link_to "See day-by-day view", trip_path(@trip) %>
    <%= link_to trip_overview_path(@trip, format: :pdf) do %>
      <i class="fa-solid fa-file-pdf"></i>
    <% end %>
    <i class="fa-solid fa-paper-plane"></i>
  </div>
</div>

<div class="container-fluid mt-3">
  <%= render "overview_events", trip: @trip, events_by_day: @events_by_day, all_dates: @all_dates, highest_position: @highest_position, flights: @flights, hotels: @hotels %>
</div>
