<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div>
  <% content_for :head do %>
    <meta name="turbo-visit-control" content="reload">
  <% end %>

  <div class="trip-overview" data-controller="maps toggle" data-action="update-events@window->maps#initMap">
    <div class="trip-content">

      <div class="tab-bar">
        <div class="tabs">
          <% @events_by_day.each_with_index do |date, index| %>
            <p class="tab <%= "tab-active" if index == 0 %>" data-toggle-target="tab" data-action='click->toggle#toggleTabs' data-toggle-url="<%= trip_path(@trip, day: @all_dates[index].day) %>" data-index= "<%= index %>">
              Day <%= index + 1 %> |
              <%= @all_dates[index].strftime("%e %b") %>
            </p>
          <% end %>
        </div>
      </div>
      <%= render "events", events: @first_day_events, trip: @trip %>

    </div>

    <div class="trip-tab">
      <input type="radio" name="name" checked="checked" />
        <div class="">
            <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>
        </div>

      <input type="radio" name="name" />
      <div class="trip-tab-content trip-recommendation">
        <% @recommendations.each do |recommendation| %>
          <div class="trip-recommendation-card">
            <div class="trip-recommendation-card-photo-and-details">
              <div class="trip-recommendation-card-photo" style="background-image: url('<%= recommendation.photo %>')"></div>
              <div class="trip-recommendation-card-details">
                  <p style="font-weight: bold; padding:0; margin:0;"><%= recommendation.name %></p>
                  <p style="font-weight: light; padding:0; margin:0;"><%= recommendation.address %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <input type="radio" name="name" />
      <div class="trip-tab-content trip-recommendation">
        <% @self_created.each do |sc| %>
          <div class="trip-recommendation-card">
            <div class="trip-recommendation-card-photo-and-details">
              <div class="trip-recommendation-card-photo" style="background-image: url('<%= sc.photo %>')"></div>
              <div class="trip-recommendation-card-details">
                  <p style="font-weight: bold; padding:0; margin:0;"><%= sc.name %></p>
                  <p style="font-weight: light; padding:0; margin:0;"><%= sc.address %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <input type="radio" name="name" />
      <div class="trip-tab-content">
        <div class="trip-tab-recommendation-container">
          <%= simple_form_for([@trip, @event]) do |f| %>
            <%= f.input :name %>
            <%= f.input :address, input_html: {data: {new_events_target: "address"}},
                                  wrapper_html: {data: {controller: "new-events",
                                                        new_events_api_key_value: ENV["GOOGLE_API_KEY"]}} %>
            <%= f.input :start_time, as: :string, label: "Date", input_html: {class: "trip-recommendation-datetimepicker"} %>
            <%= f.input :photo, as: :hidden, input_html: { value: "https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80" } %>
            <%= f.input :source, as: :hidden, input_html: { value: "self" } %>
            <%= f.button :submit, class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
