<div>
  <div class="trip-overview" data-controller="maps toggle" data-action="update-events@window->maps#initMap">
    <div class="trip-content">

      <div class="tab-bar">
        <div class="tabs">
          <% @events_by_day.each_with_index do |day, index| %>
            <p class="tab <%= "tab-active" if index == 0 %>" data-toggle-target="tab" data-action='click->toggle#toggleTabs' data-toggle-url="<%= trip_path(@trip, day: day[0].start_time.day) %>" data-index= "<%= index %>">
              Day <%= index + 1 %> |
              <%= day.first.start_time.strftime("%e %b") %>
            </p>
          <% end %>
        </div>
      </div>
      <%= render "events", events: @first_day_events, trip: @trip %>

    </div>

    <div class="slides">
      <input type="radio" name="name" checked="checked" />
        <div class="">
            <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>
        </div>

      <input type="radio" name="name" />
      <div class="content slidetab-content">
        <% @recommendations.each do |recommendation| %>
          <div class="slidetab-details">
            <div class="slidetab-details-basic">
                <p style="font-weight: bold; padding:0; margin:0;"><%= recommendation.name %></p>
                <%= recommendation.address %>
                <p><em><%= recommendation.description %></em></p>
            </div>
          </div>
        <% end %>
      </div>

      <input type="radio" name="name" />
      <div class="content slidetab-content">
        <% @self_created.each do |sc| %>
          <div class="slidetab-details">
            <div class="slidetab-details-basic">
                <p style="font-weight: bold; padding:0; margin:0;"><%= sc.name %></p>
                <%= sc.address %>
                <p><em><%= sc.description %></em></p>
            </div>
          </div>
        <% end %>
      </div>

      <input type="radio" name="name" />
      <div class="content">
        <div class="slidetab-container">
          <%= simple_form_for([@trip, @event]) do |f| %>
            <%= f.input :name %>
            <%= f.input :address, input_html: {data: {new_events_target: "address"}},
                                  wrapper_html: {data: {controller: "new-events",
                                                        new_events_api_key_value: ENV["GOOGLE_API_KEY"]}} %>
            <%= f.input :start_time, as: :string, input_html: {class: "datetimepicker"} %>
            <%= f.input :end_time, as: :string, input_html: {class: "datetimepicker"} %>
            <%= f.input :source, as: :hidden, input_html: { value: "self" } %>
            <%= f.button :submit, class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
