<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div>
  <% content_for :head do %>
    <meta name="turbo-visit-control" content="reload">
  <% end %>

  <div class="intro">
    <h2>Your <%= pluralize(@events_by_day.length, "days") %> in <strong><%= @trip.destination %></strong></h2>
    <div style="display: flex; align-items: center;">
      <%= link_to "See all days", trip_overview_path(@trip) %>
      <%= link_to trip_overview_path(@trip, format: :pdf) do %>
        <i class="fa-solid fa-download" title="Download pdf"></i>
      <% end %>
      <%= form_with url: send_email_path(@trip), data: { controller: "send-email", send_email_target: "form", action: "submit->send-email#send"} do |f| %>
        <%= f.button style:"color:var(--green); border:none; background:none;" do %>
          <i class="fa-solid fa-paper-plane" title="Send to yourself"></i>
        <% end %>
      <% end %>
      <!-- Button trigger modal -->
      <button type="button" style="border: none; background: none;" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" title="Share with friends">
          <i class="fa-solid fa-share" style="margin-left: 5px"></i>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content" style="background-color: var(--white);">
                  <div class="modal-header">
                      <h5 class="modal-title" id="myModelLabel">Copy the link below to share your trip!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <%# <p>Copy link</p> %>
                      <div class="field d-flex align-items-center justify-content-between">
                          <div data-controller="clipboard" data-clipboard-success-content="Copied!" style="">
                            <input style="width: 100%; background-color: white;" type="text" value="<%= trip_invite_url(@trip) %>" data-clipboard-target="source" />
                            <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="flat-btn">Copy</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="trip-overview" data-controller="maps toggle" data-action="update-events@window->maps#initMap">

    <div class="trip-content">

      <div class="tab-bar">
        <div class="tabs">
          <% @events_by_day.each_with_index do |date, index| %>
            <p class="tab <%= "tab-active" if index == 0 %>" data-toggle-target="tab" data-action='click->toggle#toggleTabs' data-toggle-url="<%= trip_path(@trip, date: @all_dates[index]) %>" data-index= "<%= index %>">
              Day <%= index + 1 %> |
              <%= @all_dates[index].strftime("%e %b") %>
            </p>
          <% end %>
        </div>
      </div>

      <%= render "events", events: @first_day_events, date: @first_day_date, trip: @trip, flights: @flights, hotels: @hotels %>
    </div>

    <div class="trip-tab">
      <label class="tab-label" for="show-map"><i class="fa-solid fa-map-location-dot"></i></label>
      <input type="radio" name="name" title="See map" checked="checked" id="show-map" />
      <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>

      <label class="tab-label" for="recommendations"><i class="fa-solid fa-layer-group"></i></label>
      <input type="radio" name="name" title="See recommendations" id="recommendations" />
      <div class="trip-tab-content trip-recommendation other-activities">
        <h2>Check out these other activities</h2>
        <ul
          data-controller="sortable"
          data-sortable-resource-name-value="event"
          data-sortable-handle-value=".handle"
          data-action="order-updated@window->sortable#updatePositions">
          <% @recommendations.each_with_index do |recommendation, index| %>
            <% if recommendation.category == nil %>
              <% bg_color = "var(--orange)" %>
            <% elsif @categories[:shopping].any? { |type| recommendation.category.include?(type)} %>
              <% bg_color = "var(--lightgreen)" %>
            <% elsif @categories[:food].any? { |type| recommendation.category.include?(type)} %>
              <% bg_color = "var(--pink)" %>
            <% else %>
              <% bg_color = "var(--lightblue)" %>
            <% end %>

            <li class="event handle"
              data-index="<%= index + 1 %>"
              data-latitude=<%= recommendation.latitude%>
              data-longitude=<%= recommendation.longitude %>
              data-position=<%= recommendation.position %>
              data-place-id=<%= recommendation.source_id %>
              data-sortable-update-url="<%= update_position_path(recommendation.trip_id, recommendation) %>"
              data-sortable-move-url="<%= move_lists_path(recommendation.trip_id, recommendation) %>">

              <div class="event-details" data-controller="edit-event" data-maps-target="event" data-directions-target="event" data-toggle-target="event" style="border: 3px solid <%= bg_color %>; background-color: <%= bg_color %>">
                <div class="position" style="text-align: right" data-sortable-target="position"><h3><%= index + 1 %></h3></div>
                <div class="event-inner-card" data-edit-event-target="card">
                  <%= render "trips/recommendation_details", event: recommendation, trip: @trip %>
                </div>

              <div class="event-directions" data-directions-target="directions">
                <div class="arrow" data-directions-target="arrow"></div>
                <div data-directions-target="driving" class="direction"></div>
                <div data-directions-target="transit" class="direction"></div>
                <div data-directions-target="walking" class="direction"></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <label class="tab-label" for="self-activities"><i class="fa-solid fa-user"></i></label>
      <input type="radio" name="name" title="See own activities" id="self-activities">
      <div class="trip-tab-content trip-recommendation list-own-activities">
        <h2>Your activities</h2>
        <ul
          data-controller="sortable"
          data-sortable-resource-name-value="event"
          data-sortable-handle-value=".handle"
          data-action="order-updated@window->sortable#updatePositions">
          <% @self_created.each_with_index do |sc, index| %>

            <li class="event handle"
              data-index="<%= index + 1 %>"
              data-latitude="<%= sc.latitude%>"
              data-longitude="<%= sc.longitude %>"
              data-position="<%= sc.position %>"
              data-place-id="<%= if sc.source_id then sc.source_id else nil end %>"
              data-sortable-update-url="<%= update_position_path(sc.trip_id, sc) %>"
              data-sortable-move-url="<%= move_lists_path(sc.trip_id, sc) %>">

              <div class="event-details" data-controller="edit-event" data-maps-target="event" data-directions-target="event" data-toggle-target="event" style="border: 3px solid var(--orange); background-color: var(--orange)">
                <div class="position" style="text-align: right" data-sortable-target="position"><h3><%= index + 1 %></h3></div>
                <div class="event-inner-card" data-edit-event-target="card">
                  <%= render "trips/event_details", event: sc, trip: @trip %>
                </div>

              <div class="event-directions" data-directions-target="directions">
                <div class="arrow" data-directions-target="arrow"></div>
                <div data-directions-target="driving" class="direction"></div>
                <div data-directions-target="transit" class="direction"></div>
                <div data-directions-target="walking" class="direction"></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <label class="tab-label" for="add-activities"><i class="fa-solid fa-plus"></i></label>
      <input type="radio" name="name" title="Create own activities" id="add-activities" />
      <div class="trip-tab-content create-own-activities">
        <h2>Create your own activities</h2>
        <div class="trip-tab-recommendation-container">
          <%= simple_form_for([@trip, @event]) do |f| %>
            <%= f.input :name %>
            <%= f.input :address, input_html: {data: {new_events_target: "address"}},
                                  wrapper_html: {data: {controller: "new-events",
                                                        new_events_api_key_value: ENV["GOOGLE_API_KEY"]}} %>
            <%= f.input :start_time, as: :string, label: "Date", input_html: { data: { controller: "flatpickr-events" }} %>
            <%= f.input :photo, as: :hidden, input_html: { value: "https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" } %>
            <%= f.input :source, as: :hidden, input_html: { value: "self" } %>
            <%= f.button :submit, class: "fat-btn" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
