<div class="container mt-5 trip-overview" data-controller="maps toggle">
  <div class="trip-content">

    <div class="tab-bar">
      <div class="tabs">
        <% @days.each_with_index do |day, index| %>
          <p class="tab" data-toggle-target="tab" data-action='click->toggle#toggle' data-toggle-url="<%= trip_path(@trip, day: day[0].start_time.day) %>" data-day=<%=index+1%>>
            Day <%= index + 1 %> (<%= day.first.start_time.strftime("%e %b %Y") %>)
          </p>
        <% end %>
      </div>
    </div>

    <%= render "events", events: @events %>

  </div>

  <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>

</div>
