<div class="container trip-overview" data-controller="maps">
  <div class="events">
    <% @events.each do |event| %>
      <p><strong><%= event.name %></strong></p>
      <p><%= event.address %></p>
      <div class="coordinates d-none">
        <p data-maps-target="latitude"><%= event.latitude%></p>
        <p data-maps-target="longitude"><%= event.longitude %></p>
      </div>
      <p>Start: <%= event.start_time.strftime("%e %b %Y, %I.%M%P") %></p>
      <p>End: <%= event.end_time.strftime("%e %b %Y, %I.%M%P")  %></p>
    <% end %>
  </div>

  <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>

</div>
