<div>
  <div class="trip-overview" data-controller="maps toggle" data-action="update-events@window->maps#initMap">
    <div class="trip-content">

      <div class="tab-bar">
        <div class="tabs">
          <% @events_by_day.each_with_index do |day, index| %>
            <p class="tab <%= "tab-active" if index == 0 %>" data-toggle-target="tab" data-action='click->toggle#toggleTabs' data-toggle-url="<%= trip_path(@trip, day: day[0].start_time.day) %>" data-index= "<%= index %>">
              Day <%= index + 1 %> |
              <%= day.first.start_time.strftime("%e %b") %>
            </p>
          <% end %>
        </div>
      </div>
      <%= render "events", events: @first_day_events %>

    </div>

    <div class="slides"><input type="radio" name="name" checked="checked" />
        <div class="">
            <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>
        </div><input type="radio" name="name" />
        <div class="content">
            <div class="recommendation-container">
              <%= render "recommendations/recommendation_list", recommendations: @recommendations %>
            </div>
        </div><input type="radio" name="name" />
        <div class="content">
            <div class="title">Pure CSS Color Tabs 3</div>
        </div><input type="radio" name="name" />
        <div class="content">
            <div class="title">Pure CSS Color Tabs 4</div>
        </div>
    </div>
  </div>
</div>
