<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div>
  <% content_for :head do %>
    <meta name="turbo-visit-control" content="reload">
  <% end %>

  <div class="trip-overview" data-controller="maps toggle" data-action="update-events@window->maps#initMap">
    <div class="trip-content">

      <div class="tab-bar">
        <div class="tabs">
          <% @events_by_day.each_with_index do |date, index| %>
            <p class="tab <%= "tab-active" if index == 0 %>" data-toggle-target="tab" data-action='click->toggle#toggleTabs' data-toggle-url="<%= trip_path(@trip, day: @all_dates[index].day) %>" data-index= "<%= index %>">
              Day <%= index + 1 %> |
              <%= @all_dates[index].strftime("%e %b") %>
            </p>
          <% end %>
        </div>
      </div>
      <%= render "events", events: @first_day_events, trip: @trip, flights: @flights, hotels: @hotels %>

    </div>

    <div class="trip-tab">
      <input type="radio" name="name" checked="checked" />
        <div class="">
            <div id="map" data-maps-target="map" data-action="google-maps-callback@window->maps#initMap"></div>
        </div>

      <input type="radio" name="name" />
      <div class="trip-tab-content trip-recommendation other-activities">
        <h3 style="font-weight: bold; text-align: center">Check out these other activities</h3>
        <ul
          data-controller="sortable"
          data-sortable-resource-name-value="event"
          data-sortable-handle-value=".handle"
          data-action="order-updated@window->sortable#updatePositions">
          <% @recommendations.each_with_index do |recommendation, index| %>
            <li class="event handle"
              data-index="<%= index + 1 %>"
              data-latitude=<%= recommendation.latitude%>
              data-longitude=<%= recommendation.longitude %>
              data-position=<%= recommendation.position %>
              data-place-id=<%= recommendation.source_id %>
              data-sortable-update-url="<%= update_position_path(recommendation.trip_id, recommendation) %>"
              data-sortable-move-url="<%= move_lists_path(recommendation.trip_id, recommendation) %>">

              <div class="event-details" data-controller="edit-event" data-maps-target="event" data-directions-target="event" data-toggle-target="event">
                <div class="position" style="text-align: right" data-sortable-target="position"><h3><%= index + 1 %></h3></div>
                <div class="event-inner-card" data-edit-event-target="card">
                  <%= render "trips/recommendation_details", event: recommendation, trip: @trip %>
                </div>

              <div class="event-directions" data-directions-target="directions">
                <div class="arrow" data-directions-target="arrow"></div>
                <div data-directions-target="driving" class="direction"></div>
                <div data-directions-target="transit" class="direction"></div>
                <div data-directions-target="walking" class="direction"></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <input type="radio" name="name" />
      <div class="trip-tab-content trip-recommendation list-own-activities">
        <ul
          data-controller="sortable"
          data-sortable-resource-name-value="event"
          data-sortable-handle-value=".handle"
          data-action="order-updated@window->sortable#updatePositions">
          <% @self_created.each_with_index do |sc, index| %>
            <li class="event handle"
              data-index="<%= index + 1 %>"
              data-latitude="<%= sc.latitude%>"
              data-longitude="<%= sc.longitude %>"
              data-position="<%= sc.position %>"
              data-place-id="<%= if sc.source_id then sc.source_id else nil end %>"
              data-sortable-update-url="<%= update_position_path(sc.trip_id, sc) %>"
              data-sortable-move-url="<%= move_lists_path(sc.trip_id, sc) %>">

              <div class="event-details" data-controller="edit-event" data-maps-target="event" data-directions-target="event" data-toggle-target="event">
                <div class="position" style="text-align: right" data-sortable-target="position"><h3><%= index + 1 %></h3></div>
                <div class="event-inner-card" data-edit-event-target="card">
                  <%= render "trips/event_details", event: sc, trip: @trip %>
                </div>

              <div class="event-directions" data-directions-target="directions">
                <div class="arrow" data-directions-target="arrow"></div>
                <div data-directions-target="driving" class="direction"></div>
                <div data-directions-target="transit" class="direction"></div>
                <div data-directions-target="walking" class="direction"></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>


      <input type="radio" name="name" />
      <div class="trip-tab-content create-own-activities">
        <h3 style="font-weight: bold">Create your own activities</h3>
        <div class="trip-tab-recommendation-container">
          <%= simple_form_for([@trip, @event]) do |f| %>
            <%= f.input :name %>
            <%= f.input :address, input_html: {data: {new_events_target: "address"}},
                                  wrapper_html: {data: {controller: "new-events",
                                                        new_events_api_key_value: ENV["GOOGLE_API_KEY"]}} %>
            <%= f.input :start_time, as: :string, label: "Date", input_html: {class: "trip-recommendation-datetimepicker"} %>
            <%= f.input :photo, as: :hidden, input_html: { value: "https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" } %>
            <%= f.input :source, as: :hidden, input_html: { value: "self" } %>
            <%= f.button :submit, class: "btn" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
