<%= simple_form_for [trip, flight], data: { controller: 'flatpickr', flight_form_target: "form",
action: "submit->flight-form#send" } do |f| %>
  <%= f.input :start_date, input_html: { data: { flatpickr_target: "startDate" } } %>
  <%= f.input :start_time %>
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date' } %>
  <%= f.input :end_time %>
  <%= f.input :departure_city %>
  <%= f.input :arrival_city %>
  <%= f.input :flight_number %>
  <div class="modal-footer">
    <%= f.button :submit, class: "btn" %>
    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
