<%= simple_form_for [trip, flight], data: { flight_form_target: "form",
action: "submit->flight-form#send" } do |f| %>
  <%= f.input :departure_city %>
  <%= f.input :arrival_city %>
  <%= f.input :start_time, as: :string, input_html: { data: { controller: "flatpickr-flights" }}, label: "Departure time" %>
  <%= f.input :end_time, as: :string, input_html: { data: { controller: "flatpickr-flights" }}, label: "Arrival time" %>
  <%= f.input :flight_number %>
  <%= f.input :note %>
  <div class="modal-footer">
    <%= f.button :submit, class: "btn" %>
    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
