<div class="recommendation-card"  data-controller="add-event">
  <div class="recommendation-card-infos">
    <h2><%= place["name"] %></h2>
  </div>
  <img src="<%= place["photo"] %>" />
  <div class="recommendation-card-infos">
    <p class="recommendation-description"><%= place["description"] %></p>
    <p class="recommendation-address"><%= place["address"] %></p>
    <%= simple_form_for event,
      html: {
        data: {
          add_event_target: "form",
          action: "submit->add-event#create"
        }
      } do |f|
    %>
      <%= f.input :name, :as => :hidden, input_html: { value: place["name"] } %>
      <%= f.input :source, :as => :hidden, input_html: { value: place["source"] } %>
      <%= f.input :source_id, :as => :hidden, input_html: { value: place["source_id"] } %>
      <%= f.input :lat, :as => :hidden, input_html: { value: place["lat"] } %>
      <%= f.input :lng, :as => :hidden, input_html: { value: place["lng"] } %>
      <%= f.input :address, :as => :hidden, input_html: { value: place["address"] } %>
      <%= f.input :category, :as => :hidden, input_html: { value: place["category"] } %>
      <%= f.input :website, :as => :hidden, input_html: { value: place["website"] } %>
      <%= f.input :phone, :as => :hidden, input_html: { value: place["phone"] } %>
      <%= f.input :photo, :as => :hidden, input_html: { value: place["photo"] } %>
      <%= f.input :rating, :as => :hidden, input_html: { value: place["rating"] } %>
      <%= f.input :review, :as => :hidden, input_html: { value: place["review"] } %>
      <%= f.input :description, :as => :hidden, input_html: { value: place["description"] } %>
      <button type="submit" class="btn-ghost" data-add-event-target="add">
        Add to list
      </button>
    <% end %>
  </div>
</div>
