<div class="background">
  <div class="container">
    <div class="content-box">
      <h1><i class="fa-solid fa-cart-flatbed-suitcase"></i></h1>
      <h1 style="font-weight: bold">Let's get started.</h1>
      <h2 style="color: var(--green)">Your <%= pluralize(@days, "days") %> in <strong><%= @trip.destination %></strong> from <%= @trip.start_date.to_datetime.strftime("%e %b") %> to <%= @trip.end_date.to_datetime.strftime("%e %b") %></h2>
    </div>
    <div class="content-box">
      <h1><strong>Step 1:</strong> Add any flights and hotels you've booked.</h1>
      <h3>This is so that we can add it to your trip. If you haven't booked anything, fret not - you can add these in at any time.</h3>
      <div class="options">
        <div class="flights-hotels">
          <button type="button" class="fat-btn" style="position:relative;" data-bs-toggle="modal" data-bs-target="#staticBackdropFlight">
            <p style="border-radius: 20px; position: absolute; bottom: -20px; right: -10px; background-color: var(--red); color: white; padding: 5px 10px"><%= @flight_count %> added</p>
            <p><i class="fa-solid fa-plane-departure"></i> Add flights</p>
          </button>
          <%= render "flights/modal", trip: @trip, flight: @flight %>
          <button type="button" class="fat-btn" style="position:relative;" data-bs-toggle="modal" data-bs-target="#staticBackdropHotel">
            <p style="border-radius: 20px; position: absolute; bottom: -20px; right: -10px; background-color: var(--red); color: white; padding: 5px 10px"><%= @hotel_count %> added</p>
            <p><i class="fa-solid fa-hotel"></i> Add hotels</p>
          </button>
          <%= render "hotels/modal", trip: @trip, flight: @hotel %>
        </div>
      </div>
    </div>

    <div class="recommendation-wrapper content-box">
      <div>
        <h1><strong>Step 2:</strong> Pick anything that interests you, and we'll fill up the rest.</h1>
        <h3 style="width: 80%; margin: auto">If you're new to this city, there's a good chance that you aren't familiar with its attractions. So we've picked out a few places that most people are interested in. Select as many or as little as you like, and we'll fill out the rest of your trip for you.</h3>
      </div>
      <div class="plan-trip content-box">
        <%= link_to trip_path(params[:trip_id]) do %>
          <button type="button" class="fat-btn">
            I'm ready, plan my trip for me!
          </button>
        <% end %>
        <%= simple_form_for(@trip) do |f| %>
          <%= f.button :submit, "Skip - I want to plan my own trip", class: "fat-btn" %>
          <%= f.input :skip, as: :hidden, input_html: { value: true } %>
        <% end %>
      </div>
      <div class="content-box" data-controller="events-loader" >
        <div class="" id="events-loader">
          <h1><span data-controller="loading"></span></h1>
          <br>
        </div>
        <div class="d-none" id="events-loaded">
          <h1>Look what we've found for you.</h1>
          <br>
        </div>
        <div class="recommendation-container" data-events-loader-target="events" id="event-list">
          <%= render "recommendation_list", recommendations: @recommendations %>
        </div>
      </div>
    </div>
  </div>
</div>
