<div class="container mt-5">
  <div data-controller="autocomplete" data-action="google-maps-callback@window->autocomplete#initMap">
    <%= simple_form_for(@trip) do |f| %>
      <%= f.input :destination, input_html: {data: {autocomplete_target: "field", action: "keydown->autocomplete#keydown"}} %>
      <%= f.input :latitude, :as => :hidden, input_html: {data: {autocomplete_target: "latitude"}} %>
      <%= f.input :longitude, :as => :hidden, input_html: {data: {autocomplete_target: "longitude"}} %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.button :submit, class: "btn" %>
    <% end %>
    <div data-autocomplete-target="map">
    </div>
  </div>
</div>
